extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post", action="/admin/movie/new")
				input(type="hidden", name="movie[_id]",value=movie._id)
				.form-group
					label.col-sm-3.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
				.form-group
					label.col-sm-3.control-label(for="inputDirector") 电影导演
					.col-sm-10
						input#inputDirector.form-control(type="text", name="movie[director]", value=movie.director)
				.form-group
					label.col-sm-3.control-label(for="inputCountry") 国家
					.col-sm-10
						input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
				.form-group
					label.col-sm-3.control-label(for="inputLanguage") 语种
					.col-sm-10
						input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
				.form-group
					label.col-sm-3.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
				.form-group
					label.col-sm-3.control-label(for="inputFlash") 片源地址
					.col-sm-10
						input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
				.form-group
					label.col-sm-3.control-label(for="inputYear") 上映年代
					.col-sm-10
						input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
				.form-group
					label.col-sm-3.control-label(for="inputSummary") 电影简介
					.col-sm-10
						input#inputSummary.form-control(type="text", name="movie[summary]", value=movie.summary)
				.form-group
					.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type="submit") 录入

	.container
		.row
			form.form-horizontal(method="post", action="/admin/jiaban/new")
				fieldset
					#legend
						legend 加班申请录入
					.control-group
						// Select Basic
						label.control-label 分厂
						.controls
							select.input-xlarge
								option 总装
								option 转向架
								option 车体
					.control-group
						// Textarea
						label.control-label 加班内容
						.controls
							.textarea
								textarea(type='')  
					.control-group
						// Select Basic
						label.control-label 加班类型
						.controls
							select.input-xlarge
								option 工作日加班
								option 双休日加班
								option 节假日加班
					.control-group
						// Text input
						label.control-label(for='input01') 加班时间
						.controls
							input.input-xlarge(type='text', placeholder='默认当日')
							p.help-block 例: 2017.10.01 16:40-20:00
					.control-group
						// Select Basic
						label.control-label 是否交检
						.controls
							select.input-xlarge
								option 是
								option 否
					.control-group
						// Text input
						label.control-label(for='input01') 备注
						.controls
							input.input-xlarge(type='text', placeholder='备注')
							p.help-block
								// Button
					.controls
						button.btn.btn-success 录入
