doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title}
		include ../includes/head
	body
		- var name=['刘诚波','肖晓斌','宋微','刘承波','邵文波','赵晓春','梁立鹏','孙中文','邹开','陈辉刚','孙大森','王慧']
		- var job=['落成1','落成2','落成3','电气1','电气2','电气3','转向架1','转向架2','转向架3','车体1','车体2','综合管理']
		- var position=['监造代表','监造师','监造师','监造代表','监造师','监造代表','监造师','监造师','监造师','监造代表','监造师','监造师']
		- var technicalTitle=['高级工程师','助理工程师','高级工程师','高级工程师','高级工程师','工程师','高级工程师','工程师','工程师','工程师','工程师','助理工程师']
		- var attendance=['出勤','出勤','出勤','出勤','出勤','出勤','出勤','出勤','出勤','出勤','出勤','出勤']

		.container
			.row
				nav.navbar.navbar-default
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="button", data-toggle="collapse", href="/admin/list")
							button.btn.btn-danger.del(type="button") 删除
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href="/admin/list") Brand
				.page-header
					h1.text-center 监造一组组织结构及日常管理

		.container-fluid
			.row
				p
					span.text-left.pull-left 组长：刘诚波&nbsp;&nbsp;副组长：刘承波
					span.text-right.pull-right 出勤：&nbsp;&nbsp;出差：&nbsp;&nbsp;请假：
		//- 表格主体
		.container-fluid
			.row
				table.table.table-hover.table-bordered
					thead
						tr.success
							th 姓  名
							each item in name
								td=item
						tbody
							tr
								th 工作岗位
								each item in job
									td=item
							tr
								th 岗位职务
								each item in position
									td=item
							tr
								th 技术职称
								each item in technicalTitle
									td=item
							tr
								th 考勤
								each item in attendance
									td=item
			.row
				h2.text-center 综合信息
				//- .col-lg-4
				//- 	h3.text-center.text-danger 济铁精神
				//- 	p.text-center.text-danger.
				//- 		强基达标，提质增效 </br>
				//- 		厚德敬业，实干先行
				//- .col-lg-4
				//- 	h3.text-center.text-danger 监造红线
				//- 	p.text-center.text-danger.
				//- 		1、签认不合格产品记录,</br>
				//- 			出具不真实监造报告。</br>
				//- 		2、监造范围漏监造。		
				//- .col-lg-4
				//- 	h3.text-center.text-danger 济铁精神
				//- 	p.text-center.text-danger.
				//- 		强基达标，提质增效</br>
				//- 		厚德敬业，实干先行
		.container-fluid
			//- 轮播，左侧
			.row
				.col-lg-4
					.carousel.slide#myCarousel
						ol.carousel-indicators
							li.active(data-target="#myCarousel" data-slide-to="0")
							li(data-target="#myCarousel" data-slide-to="1")
							li(data-target="#myCarousel" data-slide-to="2")
						.carousel-inner
							.item.active
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger: a(target="_blank", href="../qdjzxmb/jiaban") 加班申请 
									table.table.table-hover.table-bordered
										thead
											tr
												th 单位
												th 加班内容
												th 加班类型
												th 加班时间
												//-th 录入时间
												th 是否交检
												th 备注
											tbody
												each item in overTimeWorkApplication
													tr(class="item-id-"+item._id)
														td #{item.branch}
														td #{item.task}
														td #{item.style}
														td #{item.time}
														td #{item.isInspected}
														td #{item.remarks}							
														//-td #{moment(item.meat.createdAt).format('MM/DD/YYYY')}
														//-未完成，待修改
														//- td: a(target="_blank", href="../admin/update/"+item._id)  修改											
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 监造红线
									p.text-center.text-danger.
										1、签认不合格产品记录,</br>
											出具不真实监造报告。</br>
										2、监造范围漏监造。		
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 济铁精神
									p.text-center.text-danger.
										强基达标，提质增效</br>
										厚德敬业，实干先行
						a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;
						a.carousel-control.right(href="#myCarousel", data-slide="next") &rsaquo;

				//- 轮播，中间
				.col-lg-4
					.carousel.slide#myCarousel1
						ol.carousel-indicators
							li.active(data-target="#myCarousel1" data-slide-to="0")
							li(data-target="#myCarousel1" data-slide-to="1")
							li(data-target="#myCarousel1" data-slide-to="2")
						.carousel-inner
							.item.active
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger: a(target="_blank", href="../qdjzxmb/shouwenjilu") 部门收文台账
									table.table.table-hover.table-bordered
										thead
											tr
												th 序号
												th 文件名称
												th 文件类型
												th 年份
												th 文件序号
												th 份数
												th 日期
											tbody
												each item in receivedDocuments
													tr(class="item-id-"+item._id)
														td #{item._id}
														td #{item.docName}
														td #{item.docStyle}
														td #{item.docYear}
														td #{item.docNO}
														td #{item.docNum}
														td #{item.docDate}
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 监造红线
									p.text-center.text-danger.
										1、签认不合格产品记录,</br>
											出具不真实监造报告。</br>
										2、监造范围漏监造。		
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 济铁精神
									p.text-center.text-danger.
										强基达标，提质增效</br>
										厚德敬业，实干先行
						a.carousel-control.left(href="#myCarousel1", data-slide="prev") &lsaquo;
						a.carousel-control.right(href="#myCarousel1", data-slide="next") &rsaquo;

				//- 轮播，右侧
				.col-lg-4
					.carousel.slide#myCarousel2
						ol.carousel-indicators
							li.active(data-target="#myCarousel2" data-slide-to="0")
							li(data-target="#myCarousel2" data-slide-to="1")
							li(data-target="#myCarousel2" data-slide-to="2")
						.carousel-inner
							.item.active
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 安全济铁、智慧济铁、品质济铁
									p.text-center.text-danger.
										强基达标，提质增效 </br>
										厚德敬业，实干先行
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 监造红线
									p.text-center.text-danger.
										1、签认不合格产品记录,</br>
											出具不真实监造报告。</br>
										2、监造范围漏监造。		
							.item
								.col-lg-12(style="height:300px;")
									h3.text-center.text-danger 济铁精神
									p.text-center.text-danger.
										强基达标，提质增效</br>
										厚德敬业，实干先行
						a.carousel-control.left(href="#myCarousel2", data-slide="prev") &lsaquo;
						a.carousel-control.right(href="#myCarousel2", data-slide="next") &rsaquo;